p{
    font-size: 1rem;
    /* 1rem=16px */
    line-height: 1.5;

}
/* mediaquery

general syntax

@media(expression){style}


xtrem small----eg smart watch
small---mobile---640px(max)
medium -- tab---(650-1007px)
large-- lap--(above 1007px
extra large--- big screen

*/




@media (max-width:600px){
p{
    font-size: 2rem;
    line-height: 2.5;
}
}
@media(max-width:800px) {
    p{
        font-weight: bolder;
        background-color: antiquewhite;
    }
    
}